<div class="table-template incoming-goods">
    <div class="table-template__head">
        <div class="table-template__head-title">
            Advanced Shipping Notes
        </div>
        <div class="table-template__head-date">
            {{dateNow | date: 'dd MMMM yyyy hh:mm a'}}
        </div>
    </div>
    <div class="table-template__detail">
        <div class="table-template__detail-date">
            Tanggal Pembuatan
            <input
                    class="table-template__detail-date-input"
                    type="text"
                    name="dates"
                    ng-model="dates" />
            <span class="table-template__detail-date-icon">
                <i class="fas fa-calendar-alt"></i>
            </span>
        </div>
        <div class="table-template__detail-pagination">
            <select ng-model="itemsPerPage" ng-options="p for p in paginationPage track by p">
            </select>
        </div>
    </div>
    <div class="table-template__content">
        <table class="table-template__content-table table">
            <thead>
            <tr>
                <th>IG No.</th>
                <th>Type</th>
                <th>Order Item ID</th>
                <th>Nama Produk</th>
                <th>Status</th>
                <th>Loading Dock</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-template__content-table-search">
                <td class="table-template__content-table-search-column">
                    <input
                            class="table-template__content-table-search-input"
                            type="text"
                            placeholder="Cari IG No."
                            name="igNumber"
                            ng-model="igNumber"
                            ng-keyup="findAllByIgNumber()"
                    >
                </td>
                <td class="table-template__content-table-search-column">
                    <select
                            class="table-template__content-table-search-input"
                            name="igType"
                            ng-model="igType"
                            ng-options="i for i in inventoryType track by i"
                            ng-change="findAllByAsnType()"
                    >

                    </select>
                </td>
                <td class="table-template__content-table-search-column">
                    <input
                            class="table-template__content-table-search-input"
                            type="text"
                            placeholder="Cari Reff no."
                            name="igItemId"
                            ng-model="igItemId"
                            ng-keyup="findAllByIgItemId()"
                    >
                </td>
                <td class="table-template__content-table-search-column">
                    <input class="table-template__content-table-search-input"
                           type="text"
                           placeholder="Cari Supplier"
                           name="igProduct"
                           ng-model="igProduct"
                           ng-keyup="findAllByIgSupplier()"
                    >
                </td>

                <td class="table-template__content-table-search-column">
                    <select
                            class="table-template__content-table-search-input"
                            name="igStatus"
                            ng-model="igStatus"
                            ng-options="s for s in status track by s"
                            ng-change="findAllByIgStatus()"
                    >
                    </select>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="d in dataset.slice((currentPage-1)*itemsPerPage, currentPage*itemsPerPage)">
                <td>{{d.asnNumber}}</td>
                <td>{{d.asnReference}}</td>
                <td>{{d.asnSupplier}}</td>
                <td>{{d.asnType}}</td>
                <td>{{d.asnStatus}}</td>
                <td>{{d.asnDock}}</td>
                <td>Detail</td>
            </tr>All
            </tbody>
        </table>
    </div>
    <custom-pagination></custom-pagination>
</div>




