<div class="index__side-bar side-bar">
    <ul class="side-bar__menu">
        <li class="side-bar__menu-item side-bar--side-bar-head">STOCKHOLM</li>
        <li class="side-bar__menu-item list dashboard-list">
            <button class="side-bar__menu-item-link" onclick="expandList('dashboard-list')">
                <i class="fas fa-tachometer-alt side-bar__menu-item-icon"></i>
                <span class="side-bar--minimize-toggle" ng-hide="minimizedBar">DASHBOARD</span>
                <i class="fas fa-angle-left side-bar--expand" ng-hide="minimizedBar"></i>
            </button>
            <ul class="list__menu" style="display: none;">
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="/#!/dashboard">Dashboard</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="/#!/warehouse-order">Warehouses Order</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Real-item Dashboard</a>
                </li>
            </ul>
        </li>
        <li class="side-bar__menu-item receiving-list">
            <button class="side-bar__menu-item-link" onclick="expandList('receiving-list')">
                <i class="fas fa-cubes side-bar__menu-item-icon index--side-bar-icon"></i>
                <span class="side-bar--minimize-toggle" ng-hide="minimizedBar">RECEIVING</span>
                <i class="fas fa-angle-left side-bar--expand" ng-hide="minimizedBar"></i>
            </button>
            <ul class="list__menu" style="display: none;">
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="/#!/asn">ASN</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="/#!/incoming-goods">Incoming Goods</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="/#!/container-activity">Container Activity</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="/#!/loading-dock">Loading Dock</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Tanda Terima</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">GRN</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Inbound Calendar</a>
                </li>
            </ul>
        </li>
        <li class="side-bar__menu-item labelling-list">
            <a href="" class="side-bar__menu-item-link side-bar--hover">
                <i class="fas fa-tag side-bar__menu-item-icon"></i>
                <span class="side-bar--minimize-toggle" ng-hide="minimizedBar">LABELLING</span>
            </a>
        </li>
        <li class="side-bar__menu-item list put-away">
            <button class="side-bar__menu-item-link" onclick="expandList('put-away')">
                <i class="fas fa-tasks side-bar__menu-item-icon"></i>
                <span class="side-bar--minimize-toggle" ng-hide="minimizedBar">PUTAWAY</span>
                <i class="fas fa-angle-left side-bar--expand" ng-hide="minimizedBar"></i>
            </button>
            <ul class="list__menu" style="display: none;">
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Alokasi Storage</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Riwayat Putaway</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Putaway Manual</a>
                </li>
            </ul>
        </li>
        <li class="side-bar__menu-item list picking-list">
            <button class="side-bar__menu-item-link" onclick="expandList('picking-list')">
                <i class="fas fa-hand-lizard side-bar__menu-item-icon"></i>
                <span class="side-bar--minimize-toggle" ng-hide="minimizedBar">PICKING</span>
                <i class="fas fa-angle-left side-bar--expand" ng-hide="minimizedBar"></i>
            </button>
            <ul class="list__menu" style="display: none;">
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Sales Order</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Inventory Request</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Picker</a>
                </li>
            </ul>
        </li>
        <li class="side-bar__menu-item list quality-control-list">
            <button class="side-bar__menu-item-link" onclick="expandList('quality-control-list')">
                <i class="far fa-check-square side-bar__menu-item-icon"></i>
                <span class="side-bar--minimize-toggle" ng-hide="minimizedBar">QUALITY CONTROL</span>
                <i class="fas fa-angle-left side-bar--expand" ng-hide="minimizedBar"></i>
            </button>
            <ul class="list__menu" style="display: none;">
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Sales Order</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Inventory Request</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Packer</a>
                </li>
            </ul>
        </li>
        <li class="side-bar__menu-item good-issue-note-list">
            <a href="" class="side-bar__menu-item-link side-bar--hover">
                <i class="fas fa-truck side-bar__menu-item-icon"></i>
                <span class="side-bar--minimize-toggle" ng-hide="minimizedBar">GOODS ISSUE NOTE</span>
            </a>
        </li>
        <li class="side-bar__menu-item igf-list">
            <a href="" class="side-bar__menu-item-link side-bar--hover">
                <i class="fas fa-tag side-bar__menu-item-icon"></i>
                <span class="side-bar--minimize-toggle" ng-hide="minimizedBar">IGF</span>
            </a>
        </li>
        <li class="side-bar__menu-item list stock-control-list">
            <button class="side-bar__menu-item-link" onclick="expandList('stock-control-list')">
                <i class="fas fa-tachometer-alt side-bar__menu-item-icon"></i>
                <span class="side-bar--minimize-toggle" ng-hide="minimizedBar">STOCK CONTROL</span>
                <i class="fas fa-angle-left side-bar--expand" ng-hide="minimizedBar"></i>
            </button>
            <ul class="list__menu" style="display: none;">
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Problem Stock</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Transfer Storage</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Stock Opname</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Transfer Warehouse</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">Counter</a>
                </li>
                <li class="list__menu-item side-bar--hover">
                    <a class="list__menu-item-link" href="">BAC</a>
                </li>
            </ul>
        </li>
    </ul>
</div>