<div class="content__item">
    <div class="content__item-head">
        <div class="content__item-head-burger">
            <i ng-click="toggleSideBar()" class="fas fa-bars content__item-head-icon"></i>
        </div>
        <div class="content__item-head-warehouse">
            {{warehouseSelect}}
        </div>
        <div class="content__item-head-user">
            <div class="dropdown content__item-head-user-menu user-menu">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span ng-if="checkUserRole('admin')">Hello, Admin </span>
                    <span ng-if="checkUserRole('member')">Welcome, </span>
                    {{userName}}
                    <span class="caret"></span></div>
                <ul class="dropdown-menu">
                    <li>
                        <a class="user-menu__change-warehouse"
                              data-toggle="modal"
                              data-target="#basicModal">
                            Ganti Warehouse
                        </a>
                    </li>
                    <li>
                        <a class="user-menu__logout"
                              ng-click="logout()">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content__item directory">
        <i class="fas fa-home"></i>
        <span class="directory__current"> > </span>
    </div>
</div>