<div class="login">
    <div class="login__form">
        <h2 class="login__form-head">
           Login
        </h2>
        <form class="login__form-body">
            <div class="login__form-body-input form-group">
                <label for="login__form-email">Email</label>
                <input
                        id="login__form-email"
                        type="email"
                        name="userEmail"
                        ng-model="userEmail"
                        class="form-control"
                >
            </div>
            <div class="login__form-body-input form-group">
                <label for="login__form-password">Password</label>
                <input
                        id="login__form-password"
                        type="password"
                        name="userPassword"
                        ng-model="userPassword"
                        class="form-control"
                >
            </div>
            <div class="login__form-body-remember-me">
                <input
                        type="checkbox"
                        name="rememberMe"
                        ng-model="rememberMe"
                        ng-change="setRememberMe()"
                >
                Remember Me
            </div>
            <div class="login__form-body-submit form-group">
                <button
                        type="submit"
                        ng-click="validateLogin()"
                        class="btn btn-primary">
                    Submit
                </button>
            </div>
            <div class="login__form-body-alert" ng-if="loginAlert">
                Incorrect Email or Password
            </div>
        </form>
    </div>
</div>