<div class="login">
    <div class="login__form">
        <h2 class="login__form-head">
           Login
        </h2>
        <form class="login__form-body">
            <div class="login__form-body-input form-group">
                <label for="login__form-email">Email</label>
                <input
                        id="login__form-email"
                        type="text"
                        name="username"
                        class="form-control"
                >
            </div>
            <div class="login__form-body-input form-group">
                <label for="login__form-password">Password</label>
                <input
                        id="login__form-password"
                        type="password"
                        name="password"
                        class="form-control"
                >
            </div>
            <div class="login__form-body-submit form-group">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>