/* app css stylesheet */

html body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Regular.ttf");
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.index{
  width: 100%;
}

.index::after{
  clear: both;
  content: '';
  display: block;
}

.index__side-bar{
  float: left;
  width: 12.5%;
  font-size: 13px;
  background-color: #2c3e50;
  color: #cbd2d6;
  padding-bottom: 300px;
  height: 100vh;
  overflow-y: scroll;
}

.index__content{
  float: left;
  width: 87.5%;
}

.side-bar__menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.side-bar__menu-item{
  border-top: #242D36 solid 0.5px;
}

.side-bar__menu-item-link{
  text-align: left;
  background-color: transparent;
  width: 100%;
  border: none;
  position: relative;
  color: #cbd2d6;
  transition: 0.2s;
  padding: 10px 10%;
  display: block;
}

.side-bar__menu-item-link:hover{
  color: #b1b6b9;
  text-decoration: none;
}

.side-bar__menu-item-link:focus{
  outline: none;
  color: #cbd2d6;
}

.side-bar__menu-item-icon{
  margin-right: 3%;
}

.index--side-bar-icon{
  font-size: 16px;
}

.side-bar--side-bar-head{
  border: none;
  text-align: center;
  font-size: 23px;
  letter-spacing: 1px;
  padding: 8px 0;
  font-weight: bold;
  color: white;
}

.side-bar--expand{
  position: absolute;
  top: 30%;
  right: 10%;
  /*transition: 0.2s;*/
}

.side-bar--expand-rotate{
  transform: rotate(-90deg);
}

.list__menu{
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #242D36;
  overflow: hidden;
}

.list__menu-item{

}

.list__menu-item-link{
  text-decoration: none;
  color: #cbd2d6;
  padding: 10px 20px;
  display: block;
}

.list__menu-item-link:hover{
  text-decoration: none;
  color: #7ECC8A;
}

.list__menu-item-link:focus{
  outline: none;
  color: #7ECC8A;
  text-decoration: none;
}

.side-bar--hover{
  transition: 0.2s;
}

.side-bar--hover:hover, .side-bar--selected{
  color: #7ECC8A;
  border-left: 2px solid #7ECC8A;
}

.content__item-head{
  padding: 8.5px 15px;
  background-color: #F1F1F1;
}

.content__item-head::after{
  clear: both;
  content: '';
  display: block;
}

.content__item-head-burger{
  float: left;
}

.content__item-head-icon{
  background-color: #068ac9;
  color: white;
  font-size: 13px;
  padding: 10px 14px;
  cursor: pointer;
  transition: 0.2s;
}

.content__item-head-icon:hover{
  background-color: #286090;
}

.content__item-head-warehouse{
  float: left;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

.content__item-head-user{
  float: right;
  padding: 5px 10px;
  cursor: pointer;
}

.directory{
  padding: 10px;
  color: grey;
}

.dashboard{
  width: 97%;
  margin: auto;
}

.dashboard__head{
  margin-top: 2vh;
}

.dashboard__head-statistic{
  width: 100%;
}

.dashboard__head-statistic::after{
  clear: both;
  display: block;
  content: '';
}

.dashboard__head-button-outbound{
  float: right;
}

.dashboard__head-button-overall{
  float: right;
  padding: 0 15px;
}

.dashboard__head-statistic-overall-link, .dashboard__head-statistic-outbound-link{
  font-size: 14px;
}

.dashboard__head-about{
  width: 100%;
}

.dashboard__head-about::after{
  display: block;
  clear: both;
  content: '';
}

.dashboard__head-about-title{
  float: left;
  font-size: 22px;
}

.dashboard__head-about-date{
  float: right;
  color: grey;
}

.dashboard__content{
  border: 1px solid lightgrey;
  padding: 0 2% 5%;
  margin-bottom: 3vh;
}

.dashboard__content::after{
  display: block;
  clear: both;
  content: '';
}

.inbound__head{
  color: gray;
  margin: 10px;
}

.inbound__content-item{
  float: left;
  width: 50%;
  text-align: center;
}

.inbound__content-pending-title, .inbound__content-put-away-title{
  margin-top: 2vh;
  font-size: 16px;
  color: grey;
}

.inbound__content-pending-amount, .inbound__content-put-away-amount{
  font-size: 72px;
}

.dashboard--content-amount-notation{
  font-size: 16px;
  margin-left: -15px;
  color: grey;
}

.inbound__amount-warning{
  color: red;
}

.table-template{
  width: 97%;
  margin: auto;
}

.table-template__head::after{
  clear: both;
  display: block;
  content: '';
}

.table-template__head-title{
  float: left;
  font-size: 24px;
}

.table-template__head-date{
  float: right;
  font-size: 14px;
  color: grey;
}

.table-template__detail{
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.table-template__detail::after{
  content: '';
  display: block;
  clear: both;
}

.table-template__detail-date{
  float: left;
  font-size: 14px;
}

.table-template__detail-date-input{
  padding: 3px 5px;
  border: solid 1px #cecece;
}

.table-template__detail-date-icon{
  background-color: #EEEEEE;
  padding: 3px;
  margin-left: -5px;
  border: solid 1px #cecece;
  border-left: none;
  display: inline-block;
  width: 50px;
  text-align: center;
}

.table-template__detail-pagination{
  float: right;
}

.table-template__content-table-search-input{
  width: 100%;
  border: 1px solid #cecece;
  padding: 3px;
  font-size: 14px;
}

.loading-dock{
  width: 98%;
  margin: auto;
}

.loading-dock__head{
  margin-bottom: 2vh;
}

.loading-dock__head-input{
  width: 25%;
  padding: 3px;
}

.loading-dock__head-select{
  width: 15%;
  padding: 4px 4px 5px;
}

.loading-dock__content-item{
  border-left: solid 4px #068ac9;
}

.loading-dock__content-item-head{
  padding: 1vh 1%;
  background-color: #f2f2f2;
  border: #e6e6e6 solid 1px
}

.loading-dock__content-item-head::after{
  content: '';
  display: block;
  clear: both;
}

.loading-dock-detail__asn{
  float: left;
  width: 25%;
}

.loading-dock-detail__asn-code{
  font-size: 18px;
}

.loading-dock-detail__asn-date{
  font-size: 12px;
  color: grey;
}

.loading-dock-detail__reference{
  float: left;
  color: grey;
  line-height: 24px;
}

.loading-dock-detail__sign{
  float: right;
  width: 15%;
  text-align: right;
}

.loading-dock-detail__sign-button{

}

.loading-dock-detail__sign-dropdown{
  border: solid 1px grey;
  display: inline-block;
  padding: 1%;
  width: 15%;
  text-align: center;
  font-weight: bold;
}

.login{
  background-image: url('../img/login-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 101.8vh;
  position: relative;
  margin-top: -1.8vh;
}

.login__form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
  background-color: white;
  z-index: 10;
  border-radius: 5px;
}

.login__form-head{
  text-align: center;
  margin: 0 0 30px;
  padding: 30px 0;
  background-color: #EEEEEE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 36px;
}

.login__form-body{
  padding: 20px;
}

.login__form-body-submit{
  text-align: center;
}

.warehouse{
  width: 100vw;
  height: 100vh;
  background-image: url('../img/warehouse-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.warehouse__overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(6, 36, 150, 0.5);
}

.warehouse__navbar{
  background-color: white;
  width: 100%;
  padding: 0.5% 1%;
}

.warehouse__navbar::after{
  display: block;
  content: '';
  clear: both;
}

.warehouse__navbar-logo{
  float: left;
}

.warehouse__navbar-logout{
  float: right;
  padding: 10px;
}

.warehouse__navbar-logout-link{
  color: black;
}

.warehouse__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-align: center;
}

.warehouse__content-head{
  color: white;
  font-size: 36px;
  margin-bottom: 4vh;
}

.warehouse__content-body{
  width: 60%;
  margin: auto;
}

.warehouse__content-body-select{
  padding: 5px;
}